$div-background: #e8e8e8;

.workout-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 5px;
  padding: 10px;
  background-color: $div-background;
  color: black;

  .workout-feed {
    height: 100%;

    #feed-title {
      font-size: 48px;
      margin-top: 10px;
      margin-left: 10px;
    }

    .headers {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    .workout-content, .workout-edit-form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      background-color: #f4f4f4;
      margin: 10px;
      border-radius: 3px;
      border-style: solid;
      border-color: #d6d6d6;
      border-width: thin;
      padding: 10px;

      .workout-div-creator {
        font-size: 20px;
      }

      .workout-div-column {
        margin: 10px;
      }

      i {
        font-size: 20px;
      }

      li {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }

  .workout-add-form {
    position: absolute;
    top: 120px;
    right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b7b7b7;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    margin-right: 100px;

    .form-title {
      font-size: 40px;
    }

    .column-group {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      #time-field {
        display: flex;
        flex-direction: column;
      }

      h3 {
        font-weight: bold;
        font-size: 20px;
      }

      input {
        width: 60%;
        height: 30px;
        font-size: 20px;
        border-style: none;
        border-radius: 5px;
      }

      select {
        width: 60%;
        height: 30px;
        font-size: 16px;
        border-style: none;
        border-radius: 5px;
        background-color: white;
      }

      button {
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 10px;
        border: none;
        border-radius: 8px;
        font-size: 20px;
        background-color: #1da55f;
        color: white;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
